*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 70px;
   
}
.first {
    width: 100%;
    margin: 10px;
    min-height: 100px;
    display: block;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    width: 500px;
    display: block;
    margin: auto;
    background-color: white;
}

.sanrio {
    width: 50%;
    display: block;
    margin: auto;
    background-color: white;
    font-family: "Frankfurter Medium Std";
}

.navigation {
    width: 72%;
    padding: 20px;
    font-size: 14px;
    font-family: "Frankfurter Medium Std";
    display: flex;
    justify-content: space-evenly;
    
}

.search{
    margin-right: 80px;
    justify-content: flex-end;
    align-items: center;
    display: flex
    


}
.nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

input{
    padding: 10px;
    
}
.announce {
    width: 100%;
    display:flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    background-color: #40b4e2;
}

.firstbox{
    background-color: #ea0029;
    display: flex;
    width: 100%;

}
.secbox {
    width: 50%;
    margin: 100px;
    display:flex;
    flex-direction: column;
}

.thirdbox {
    font-family: "Frankfurter Medium Std";
    font-size: 35px;
    line-height: 56px;
    margin-bottom: 32px;
    display:flex;
    justify-content: center;
}
.fourthbox{
    font-family: 'Futura PT', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    display:flex;
    text-align: center;
}

.fifthbox {
    display: flex;
    background-color: white; 
    margin-right: 2px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 252px;
}

.hellokitty {
    display: flex;
}

.fwkitty {
    display: flex;
}

.para {
    display: flex;
}

.kittylogo {
    display: flex;
    width: 50%;
}